.utilityMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0em 5em;
    height: 2.5em;
    background-color: var(--secondary-background-color);
  }
  
  .utilityText{
    width: 100vw;
    color: var(--black-text-color);
    font-weight: 500;
  }
  
  .utilityTextAttetion{
    color: var(--pink-text-color);
    font-weight: 500;
  }
  
  .header{
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 5em;
    padding: 0em 10em;
  }
  
  .imageContainer{
    position: relative;
    width: 100%;
    max-width: 66px;
    height: 100%;
  }
  
  .navBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 8em;
    justify-content: space-between;
  }

  @media (max-width: 600px){
    .utilityMenu{
      padding: 0em 2em;
    }
    .utilityText{
      width: 100%;
      font-size: 0.8em;
      
    }
    .header{
      padding: 0em 2em;
    }
  }

  @media (max-width: 375px){
    .utilityMenu{
      padding: 0em 1em;
    }
    .utilityText{
      width: 100%;
      font-size: 0.6em;
      
    }
    .header{
      padding: 0em 2em;
    }
  }